<header class="header">
  <mat-toolbar class="toolbar">
    <div class="container">

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menú de navegación">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/" routerLinkActive="active-link">
          <mat-icon>home</mat-icon> Inicio
        </button>
        <button mat-menu-item routerLink="/products" routerLinkActive="active-link">
          <mat-icon>inventory</mat-icon> Ver Inventario
        </button>
      </mat-menu>

      <a routerLink="/" class="logo">
        <img src="https://cdn-icons-png.flaticon.com/512/4440/4440254.png" alt="Logo" class="logo-img">
        <span class="logo-text">| Gestión Tienda | {{title}}</span>
      </a>

      <span class="spacer"></span>
    </div>
  </mat-toolbar>
</header>
