<app-header [title]="'Lista de Inventario'"></app-header>

<body>
    <h2>Lista de Productos</h2>
    <button mat-flat-button type="submit" (click)="navigateToAdd()">Agregar Producto</button>

    <ng-container *ngIf="products.length > 0; else noProducts">
      <app-table-inventario
        [dataSource]="products"
        (delete)="deleteProduct($event)"
        (edit)="navigateToEdit($event)">
      ></app-table-inventario>
    </ng-container>

    <ng-template #noProducts class="no-products">
      <div>
        <p>No hay productos disponibles</p>
      </div>
    </ng-template>

</body>

<app-footer></app-footer>