<app-header [title]="'Inicio'"></app-header>

<div class="home-container">
    <section class="hero">
      <h1>Bienvenido Uzziel Aparicio</h1>
      <p>Meta ofrecer los mejores productos.</p>
      <a routerLink="/products" class="btn">Ver Inventario</a>
    </section>
  
    <section class="about">
      <h2>¿Quiénes Somos?</h2>
      <p>Estamos dedicado a ofrecer productos de calidad a nuestros clientes.</p>
      <div class="about-cards">
        <div class="card">
          <h3>Nuestra Misión</h3>
          <p>Brindar productos accesibles y de calidad.</p>
        </div>
        <div class="card">
          <h3>Nuestra Visión</h3>
          <p>Ser la tienda número uno en satisfacción del cliente.</p>
        </div>
        <div class="card">
          <h3>Valores</h3>
          <p>Compromiso, calidad y confianza.</p>
        </div>
      </div>
    </section>
  
    <section class="cta">
      <h2>Fundador y Organización</h2>
      <p>Uzziel Aparicio, Mi Tienda S.A.</p>
    </section>
  </div>
  